<div id="sidebar" class="flex flex-col items-center my-8 lg:px-12">
  <img class="w-24" src="/images/wox.svg"/>
  <nav class="my-3">
    {% for link in nav %}
      <a href="{{ link.to }}">
        <div class="flex flex-row rounded-sm px-4 py-2 hover:bg-violet-800 transition duration-300 cursor-pointer">
          <img class="w-4 mr-2" src="/images/{{ link.icon }}.svg">
          <span class="text-xl font-semibold ml-2 mr-6">{{ link.label }}</span>
        </div>
      </a>
    {% endfor %}
  </nav>
</div>
