<style type="text/tailwindcss">
  p { @apply my-2 }
  table { @apply border-collapse table-auto my-3; }
  table tr { @apply border border-neutral-600; }
  table tr th, table tr td { @apply border border-neutral-600 px-3 py-2; }
  h1, h2, h3, h4, h5, h6 { @apply font-bold pb-2 font-serif; }
  h1 { @apply text-3xl md:text-5xl pt-6; }
  h2 { @apply text-2xl md:text-4xl pt-6 ; }
  h3 { @apply text-xl md:text-3xl pt-4; }
  h4 { @apply text-lg md:text-2xl pt-3; }
  h5 { @apply text-base md:text-xl pt-3; }
  h6 { @apply md:text-lg pt-3; }
  ol { @apply list-decimal list-inside leading-relaxed; }
  ol > li { @apply pl-4; }
  pre { @apply flex my-4 font-mono; }
  code { @apply bg-neutral-900 px-2 py-1 rounded-sm overflow-x-auto; }
  input[type=text], input[type=number] { @apply my-1 px-3 py-1 rounded-sm text-neutral-100 bg-neutral-900 border border-neutral-500; }
  input[type=text]:disabled, input[type=number]:disabled { @apply bg-neutral-800 text-slate-500 border-neutral-600; }
  input[type=text]:invalid, input[type=number]:invalid { @apply border-red-500; }
  details > summary { @apply cursor-pointer; }
  .card { @apply bg-neutral-800 border border-neutral-600 rounded shadow-2xl my-3 px-3 md:px-4 py-5 max-w-screen-lg; }
  .card > h1, .card > h2 { @apply pt-0; }
  .card > h3 { @apply pt-2; }
  .link { @apply text-violet-400 hover:underline font-semibold; }
  .btn { @apply bg-neutral-600 hover:bg-neutral-500 transition px-3 py-1 rounded-sm; }
  .btn.is-primary { @apply bg-violet-700 hover:bg-violet-600 transition; }
  .panel { @apply px-3 py-2  border border-neutral-600 bg-neutral-700 shadow; }
</style>
