<style>
  #mobile_menu { visibility: hidden; opacity: 0; }
  #check:checked ~ #mobile_menu { visibility: visible; opacity: 1; }
  #check ~ label > #menu-open-icon { display: block; }
  #check ~ label > #menu-close-icon { display: none; }
  #check:checked ~ label > #menu-open-icon { display: none; }
  #check:checked ~ label > #menu-close-icon { display: block; }
</style>

<div class="fixed right-0 top-0 flex flex-row w-full justify-between items-center bg-neutral-900 shadow-2xl">
  <img class="w-16 mx-4 my-2" src="/images/wox.svg"/>
  <div class="mx-3 my-3">
    <input type="checkbox" id="check" class="hidden"  />
    <label for="check">
      <img id="menu-open-icon" class="w-5 mx-4 my-2" src="/images/menu.svg">
      <img id="menu-close-icon" class="w-5 mx-4 my-2" src="/images/x.svg">
    </label>
    <div id="mobile_menu" class="fixed right-0 top-12 w-full h-full transition-opacity duration-300 ease-in-out">
      <div class="h-6 bg-neutral-900">&nbsp;</div>
      {% for link in nav %}
        <a href="{{ link.to }}">
          <div class="flex flex-row rounded-sm px-4 py-2 bg-neutral-900">
            <img class="w-4 mr-1" src="/images/{{ link.icon }}.svg">
            <span class="ml-1 text-lg font-semibold">{{ link.label }}</span>
          </div>
        </a>
      {% endfor %}
      <div class="h-full bg-neutral-900">&nbsp;</div>
    </div>
  </div>
</div>
