extends /templates/layouts/_layout.pug

block body  
  include /templates/components/navbar.pug

  section.bg-black.min-vh-50.flex.flex-column.items-center.justify-center
    h2.f2.white clever sentence
    h3.f3.white.mt0 run computer security labs without the complexity of maintaining the infrastructure

  main.w-100.flex.flex-column.items-center.mv3.pv3
    .container
      |!{ content }

  include /templates/components/footer.pug
