include /templates/mixins/quote_section.pug
include /templates/mixins/subservices.pug

doctype html
html(lang="en")
  include /templates/components/head.pug

  body.fade-in.sans-serif.flex.flex-column.bg-black
    block body
