extends /templates/layouts/default.pug
    
block content
  section.bg-purple.white.pv3
    .container.blog-post
      article.tl
        span Game
  section.blog-post
    .container
      h2.f2 Game
      ul.list.pl0.lh-copy
        li
          a(href="/game/story") Story
        li
          a(href="/game/paths") Paths
        li
          a(href="/game/machines") Hypermachines
        li
          a(href="/game/world") World
        li
          a(href="/game/equipment") Equipment
