{% layout "default.html" %}

{% block content %}
  <small>
    <span class="text-neutral-200"><a href="/levels" class="text-violet-300 font-bold">Levels</a></span>
    <span class="text-neutral-400">/</span>
    <span class="text-neutral-200">{{ meta.id }}</span>
  </small>

  <div class="card">
    <h1 class="">{{ meta.title }}</h1>

    <div class="my-3">
      {{ content }}
    </div>
  </div>

  <div class="card">
    <h2 class="">Clues</h2>
    <div class="my-3">
      <p>These are relevant books from the library:</p>

      <ol class="list-disc list-inside pl-6 mb-4">
        {% for slug in meta.ref %}
          <li><a class="link" href="/docs/{{ slug }}">{{ by_key.docs[slug].meta.title }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>

{% endblock %}
