{% layout "level.html", id: 1, title: 'Albert lost his keys' %}


{% block story %}
  <p>Albert used the snake cipher to encrypt a secret phrase: </p>

  <pre class="flex">
    <code class="overflow-x-auto pa1 lh-solid">
  [vsymgkf eb a2dajugmvl2ivgwgddr  ienq0zwkhszdadgzeq]
    </code>
  </pre>

  <p>But he lost his encryption key. Can you find it for him?</p>
{% endblock %}

{% block solution %}
  <div class="mv2 pv1">
    <label>🗝️ Albert's key is:</label>
    <input id="in" class="mv1 ns-mv0" type="text" placeholder="00000 00000 00000 00000 00000" size="29" pattern="[01]*"/>
    <button id="ok" class=".nput-reset ph3 mv1 ns-mv0 b--solid pointer b--blue bg-blue white br1">Verify</button>
  </div>
  <p id="out" class="dn"></p>
{% endblock %}

{% block clues %}
  <ol>
    <li>You can look at the [📜 Snake key generator logs](/xor/scrolls/snake-key-generator)</li>
    <li>
      These are relevant books from the library:
      <ol>
        <li>[📕 Snake cipher](/xor/library/snake-cipher)</li>
        <li>[📕 Tobaud code](/xor/library/tobaud-code)</li>
      </ol>
    </li>
  </ol>
{% endblock %}
