{% layout "default.html" %}

{% block content %}

<small>
  <span class="text-neutral-200">Levels</span>
  <span class="text-neutral-400">/</span>
</small>

<div class="card">
  <h1 class="">Levels</h1>

  <table class="my-3">
    <thead>
      <tr class="text-sm">
        <td class="pr-2"></td>
        <td class="px-2">Title</td>
        <td class="pl-2"></td>
      </tr>
    </thead>
    <tbody>

    {% for level in levels %}
      <tr>
        <td class="pr-2">{{ forloop.index }}</td>
        <td class="px-2">{{ level.title }}</td>
        <td class="pl-2"><a href="/levels/{{ level.id }}" class="btn">Play &gt; </a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
